{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "indent": [2, 4],
    "quotes": [2, "double"],
    "max-len": 0,
    "no-alert": 0,
    "react/prop-types": 1
  }
}
