{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": [2, 4],
    "no-return-assign": 0,
    "quotes": 0,
    "strict": 0,
    "curly": 0,
    "no-alert": 0,
    "comma-dangle": 0
  }
}
